@import "vars";
@import "components/Banner";
@import "components/Process";
@import "components/Footer";
@import "components/SignUp";


html {
  box-sizing: border-box;
  font-size: 1em;
}

body {
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;

}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 1.3em;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: "freight-big-pro", sans-serif;
  font-style: normal;
  font-weight: 900;
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.441em;
}

h2, .h2 {
  font-size: 1.953em;
}

h3, .h3 {
  font-size: 1.563em;
}

h4, .h4 {
  font-size: 1.25em;
}

small,
.font_small {
  font-size: 0.8em;
}

